<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :post_description %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture, id: :post_picture %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.collection_select :category_id, @categories, :id, :name %>
  </div>



  <%= form.fields_for :tags do |tag| %>
    <%= tag.label :tag_name %>
    <%= tag.text_field :tag_name %><br>
  <% end %>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
